﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @* <div class="col-md-3"> *@
    @*     <h2>Application uses</h2> *@
    @*     <ul> *@
    @*         <li>Sample pages using ASP.NET Core MVC</li> *@
    @*         <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li> *@
    @*     </ul> *@
    @* </div> *@
    <div class="col-md-3">
        <h2>RX intro</h2>
        <ul>
            <li><a href="http://reactivex.io/">Official docs</a></li>
            <li><a href="http://introtorx.com/">Introduction to Rx</a></li>
            <li><a href="https://leecampbell.com/2010/08/25/reactive-extensions-for-net-an-introduction/">Reactive Extensions for .NET</a></li>
            <li><a href="https://channel9.msdn.com/Tags/reactive+extensions">Channel 9 MSDN videos</a></li>
        </ul>
    </div>
    @* <div class="col-md-3"> *@
    @*     <h2>Overview</h2> *@
    @*     <ul> *@
    @*         <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li> *@
    @*         <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li> *@
    @*         <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li> *@
    @*         <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li> *@
    @*         <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li> *@
    @*         <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li> *@
    @*         <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li> *@
    @*     </ul> *@
    @* </div> *@
    @* <div class="col-md-3"> *@
    @*     <h2>Run &amp; Deploy</h2> *@
    @*     <ul> *@
    @*         <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li> *@
    @*         <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li> *@
    @*         <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li> *@
    @*     </ul> *@
    @* </div> *@
</div>
