@using RxApp.Models

@{
    ViewData["Title"] = "Books Page";
    
}

<div class="row">
    <div class="col-md-3">
        <h2>All Books</h2>
        <ul>
             @foreach (var book in ViewBag.AllBooks.books)
             {
                 <li>
                     <a href="/books/@book.Id">
                         <span class="text-primary">@book.Title, @book.Year</span>
                     </a>
                 </li>
            }
        </ul>
        
    </div>
</div>
