@{
    ViewData["Title"] = "Book Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>@ViewBag.Message.book.Title</h2>

        @{
            var data = ViewBag.Message.book;
        }
        <h4>Id: @data.Id</h4>
        <h4>First published: @data.Year</h4>
        <h4>Author: @data.AuthorsName</h4>

    </div>
</div>